---
import { getCollection } from "astro:content"

import Layout from "../layouts/Layout.astro"
import { formatDate } from "../lib/date"

const collection = await getCollection("experience")
const experience = await Promise.all(
  collection.map(async entry => ({
    ...entry,
    content: await entry.render(),
  })),
)
---

<Layout title="Gus Ryan - Experience">
  <main
    id="experience"
    class="flex flex-col justify-center py-8 pl-20 pr-2 sm:min-h-screen sm:py-0 sm:pl-24 sm:pr-0"
  >
    <ul class="group space-y-4 sm:my-20">
      {
        experience.map(entry => (
          <li class="relative rounded-xl p-4 text-gray-800 hover:bg-slate-400 hover:bg-opacity-15 hover:!opacity-100 group-hover:opacity-60 dark:text-gray-400">
            <a class="block text-sm" href={entry.data.link}>
              <h3 class="text-base text-gray-900 dark:text-gray-200">{entry.data.title}</h3>
              <p class="mt-1 font-medium text-gray-600">
                {formatDate(entry.data.started)} - {formatDate(entry.data.ended)}
              </p>
              <div class="mt-1">
                <entry.content.Content />
              </div>
              <ul class="mt-2 space-x-2 text-xs">
                {entry.data.technologies.map((tech: string) => (
                  <li class="inline-block rounded-full bg-slate-400 bg-opacity-15 px-2 py-1">
                    {tech}
                  </li>
                ))}
              </ul>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
